<%- partial('_partial/hero-block') %>
<%- partial('_partial/filter-bar') %>

<div class="post-list">
<% page.posts.sort('date', -1).each(post => { %>
    <%- partial('_partial/post-card', { post }) %>
<% }) %>
</div>

<script type="application/ld+json">
[
<% page.posts.sort('date', -1).each(post => { %>
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "name": "<%= post.title %>",
    "headline": "<%= post.title %>",
    "description": "<%= post.excerpt %>",
    "datePublished": "<%= post.date.toISOString() %>",
    "dateModified": "<%= post.updated.toISOString() %>",
    "author": {
      "@type": "Person",
      "name": "Nicolas Gryman"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "<%= post.permalink %>"
    }
  },
<% }) %>
]
</script>
