<article class="post-card" itemscope itemprop="blogPost">
  <a class="link" href="<%= url_for(post.path) %>">
    <!-- <header class="header">
      <video class="video" src="#" poster="//placehold.it" autoplay></video>
    </header> -->
    <div class="body" itemprop="articleBody">
      <h1 class="title" itemprop="name"><%- titlecase(post.title) %></h1>
      <%- post.excerpt %>
    </div>
    <footer class="footer">
      <%- partial('post-stat', { type: 'players', value: post.players }) %>
      <%- partial('post-stat', { type: 'time', value: post.duration }) %>
      <!-- <%- partial('post-stat', { type: 'like', value: '217' }) %> -->
    </footer>
  </a>
</article>
